<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495982560011-dv13rccc5121bh8pp6ri2mnn6oomip94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495982560011-dv13rccc5121bh8pp6ri2mnn6oomip94</string>
	<key>API_KEY</key>
	<string>AIzaSyBVOsMwbMaq8CXkOWOlX7GKaBmlH5UM_x0</string>
	<key>GCM_SENDER_ID</key>
	<string>495982560011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.admin1992.MealsToGo</string>
	<key>PROJECT_ID</key>
	<string>mealstogo-95cd3</string>
	<key>STORAGE_BUCKET</key>
	<string>mealstogo-95cd3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495982560011:ios:7a022e0bbe2ca87429980e</string>
</dict>
</plist>